h1 HOME


.row(ng-if="stage")
  .spotlight You are the winner! Take the spotlight by entering today's password: 
  input#spotlightpass(type='password', ng-model='spotlight.password')

.row(ng-if="confirmed")
  h3 Global Chat
    #messages.panel.callout.radius
      .message(ng-repeat='message in messages')
        .avatar(style='background-image:url("{{message.avatar}}")')
        .content {{message.content}}

.row(ng-if="confirmed")
  input#message(type='text', ng-model='message')
  button.success.tiny.radius(ng-click='chat(message)') Send Message
            
.row(ng-if="showAdmin")
  .winner Today's winner id: {{winner.id}}
  .button.winner-info(ng-click="winnerInfo()") Winner Info
  .button.runLottery(ng-click="runLottery()") Run Lottery Again
  .button.selectWinner(ng-click="selectWinner(winner.id)") Add as Spotlight and Notify
  //.button.notifyWinner(ng-click="notifyWinner(winner.id)") Notify

.row(ng-if="showWinner")
  h5 Winner's name: {{winner.username}}
  h5 Winner's email: {{winner.email}}
  h5 Winner's phone: {{winner.phone}}
//- .row
//-     h3 Global Chat
//-         #messages.panel.callout.radius
//-             .message(ng-repeat='message in messages')
//-                 .avatar(style='background-image:url("{{message.avatar}}")')
//-                 .content {{message.content}}
//-         input#message(type='text', ng-model='message')
//-         button.success.tiny.radius(ng-if="showAdmin", ng-click='chat(message)') Send Message
