h1 HOME

.row
  h3 Select User
    .users(ng-repeat='user in users')
      .user(ng-click="selectUser(user.id)") {{user.id}}

.row
    h3 Global Chat
        #messages.panel.callout.radius
            .message(ng-repeat='message in messages')
                .avatar(style='background-image:url("{{message.avatar}}")')
                .content {{message.content}}
        input#message(type='text', ng-model='message')
        button.success.tiny.radius(ng-click='chat(message)') Send Message
